{% load static %}

<div class="flex items-center justify-between pr-3">
    <div class="flex items-center gap-x-1">
        <img src="{% static 'images/user.png' %}" class="w-[20px] h-[20px] object-contain" alt="">
        <div class="text-slate-300">
            <h5 class="font-semibold mr-1 home__rightTopUsername">Hello, {{ request.user.username }}</h5>
            <p class="text-xs flex items-center">Status: <span class="iconify text-xl text-green-500" data-icon="ci:dot-03-m"></span></p>
        </div>
    </div>

    <div class="flex items-center gap-x-3">
        <button id="create__chatGroup" class="flex items-center gap-x-0.5 py-1 px-3 text-slate-100 bg-indigo-500 rounded cursor-pointer hover:bg-indigo-600 hover:shadow transition-all duration-300 ease-in-out">
            <span class="iconify" data-icon="akar-icons:people-group"></span>
            Create Group
        </button>
        <a href="{% url 'account:logout' %}" class="flex items-center gap-x-0.5 py-1 px-3 text-slate-100 bg-rose-600 rounded cursor-pointer hover:bg-rose-700 hover:shadow transition-all duration-300 ease-in-out">
            <span class="iconify" data-icon="ri:logout-box-r-line"></span>
            Logout
        </a>
    </div>
</div>
<div class="w-full h-[1px] bg-slate-500 mt-1"></div>